<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Registrarse</ion-title>
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/start"></ion-back-button>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-text-center" fixed>
    <ion-row class="ion-justify-content-center">
      <ion-col size-xs="12" size-md="8" size-lg="8">
        <ion-item>
          <ion-label>Tipo de Usuario</ion-label>
          <ion-select [(ngModel)]="typeUser" (ionChange)=onChange()
            interface="action-sheet" placeholder="Seleccionar">
            <ion-select-option value="user">Usuario</ion-select-option>
            <ion-select-option value="duenio">Dueño</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ng-template [ngIf]="!isDuenio" [ngIfElse]="duenio">
      <ion-row class="ion-justify-content-center">
        <ion-col size-xs="12" size-md="8" size-lg="8">
          <form [formGroup]="regUser" (ngSubmit)="onSubmitRegUser()">
            <ion-item-divider style="margin-top: 10%;">
              <ion-label>
                Datos del Usuario
              </ion-label>
            </ion-item-divider>
            <ion-item>
              <ion-label position="stacked">Nombres <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input required formControlName="nombres" type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Apellidos <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input required formControlName="apellidos" type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Rut <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input required formControlName="rut" type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Teléfono <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input required formControlName="telefono" pattern=".{9,}" type="number"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Email <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input required formControlName="email" type="email"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Contraseña <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input required formControlName="password" type="password"></ion-input>
            </ion-item>
            <ion-item-divider style="margin-top: 10%;">
              <ion-label>
                Datos Bancarios
              </ion-label>
            </ion-item-divider>
            <ion-item>
              <ion-label position="stacked">N˚ de Cuenta <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input required formControlName="nCuenta" pattern=".{6,}" type="number"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Banco <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-select required formControlName="banco" interface="action-sheet"
                placeholder="Seleccionar">
                <ion-select-option *ngFor="let banco of bancos" [value]="{ id: banco.id, nombre: banco.nombre }">
                  {{banco.nombre}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Tipo de Cuenta <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-select required formControlName="tcuenta" interface="action-sheet"
                placeholder="Seleccionar">
                <ion-select-option *ngFor="let cuenta of tipoCuentas"
                  [value]="{ id: cuenta.id, nombre: cuenta.nombre }">{{cuenta.nombre}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-button style="margin-top: 20%;" block color="primary" type="submit" [disabled]="regUser.invalid">
              Registrarse
            </ion-button>
          </form>
        </ion-col>
        <ion-col size="6"></ion-col>
      </ion-row>
    </ng-template>
    <ng-template #duenio>
      <ion-row class="ion-justify-content-center">
        <ion-col size-xs="12" size-md="8" size-lg="8">
          <form [formGroup]="regDuenio" (ngSubmit)="onSubmitRegDuenio()">
            <ion-item-divider style="margin-top: 10%;">
              <ion-label>
                Datos del Dueño
              </ion-label>
            </ion-item-divider>
            <ion-item>
              <ion-label position="stacked">Nombres <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input required formControlName="nombres" type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Apellidos <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input required formControlName="apellidos" type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Rut <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input required formControlName="rut" type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Teléfono <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input required formControlName="telefono" pattern=".{9,}" type="number"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Email <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input required formControlName="email" type="email"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Contraseña <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input required formControlName="password" type="password"></ion-input>
            </ion-item>
            <ion-item-divider style="margin-top: 10%;">
              <ion-label>
                Datos del Estacionamiento
              </ion-label>
            </ion-item-divider>
            <ion-item>
              <ion-label position="stacked">Dirección Estacionamiento <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input required formControlName="direEstac" type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Region <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-select required (ionChange)=onChangeRegion($event) formControlName="region" interface="action-sheet"
                placeholder="Seleccionar">
                <ion-select-option *ngFor="let region of regiones" [value]="{region: region.region}">
                  {{region.region}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Comuna <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-select required formControlName="comuna" interface="action-sheet"
                placeholder="Seleccionar">
                <ion-select-option *ngFor="let comuna of comunas" [value]="{comuna: comuna}">
                  {{comuna}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item-divider style="margin-top: 10%;">
              <ion-label>
                Datos Bancarios
              </ion-label>
            </ion-item-divider>
            <ion-item>
              <ion-label position="stacked">N˚ de Cuenta <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input required formControlName="numeroCuenta" pattern=".{6,}" type="number"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Banco <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-select required formControlName="banco" interface="action-sheet"
                placeholder="Seleccionar">
                <ion-select-option *ngFor="let banco of bancos" [value]="{ id: banco.id, nombre: banco.nombre }">
                  {{banco.nombre}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Tipo de Cuenta <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-select required formControlName="tipoCuenta" interface="action-sheet"
                placeholder="Seleccionar">
                <ion-select-option *ngFor="let cuenta of tipoCuentas"
                  [value]="{ id: cuenta.id, nombre: cuenta.nombre }">{{cuenta.nombre}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-button style="margin-top: 20%;" block color="primary" type="submit" [disabled]="regDuenio.invalid">
              Registrarse
            </ion-button>
          </form>
        </ion-col>
        <ion-col size="6"></ion-col>
      </ion-row>
    </ng-template>


  </ion-grid>
</ion-content>